<!-- busuanzi -->
<section class="widget">
	<h2 class="section-title">本站浏览情况</h2>
    <!--
	<span id="busuanzi_container_site_pv" style="color: skyblue; display: inline; font-size: 24px;">
		<span id="busuanzi_value_site_pv"></span>
	</span>
    -->
    <span id="busuanzi_container_site_pv">
        本站总访问量 ：<span id="busuanzi_value_site_pv" style="color: rgb(220, 19, 19); display: inline; font-size: 20px;"></span> （次）
      </span>
      <span id="busuanzi_container_site_uv">
        本站访客数 ：<span id="busuanzi_value_site_uv" style="color: rgb(11, 176, 14); display: inline; font-size: 20px;" ></span> （人次）
      </span>
</section>